<!-- main content -->
<div id="content">
    <div class="col-md-12">
        <div class="panel panel-default yep-card">
            <div class="panel-heading card-head">
                <div class="panel-title">
                    <a ui-sref="admin.users" class="btn btn-link has-ripple" >
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <span class="bold head-title"> {{$state.current.ncyBreadcrumb.label | translate}}</span>
                </div>
            </div>
            <div class="panel-body" translate-namespace="user.form">
                <hr>
                <form class="form-horizontal">
                    <fieldset ng-disabled="isDisabled">
                        <div class="col-md-6"><br>
                            <div class="form-group switch">
                                <label class="col-sm-3 control-label" translate>
                                    .active
                                </label>
                                <div class="col-sm-9">
                                    <div class="m-switch">
                                        <input ng-model="user.status" ng-true-value="1" type="checkbox" id="id-name--1" class="switch-input">
                                        <label for="id-name--1" class="switch-label">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate>
                                    .avatar
                                </label>
                                <div class="col-sm-9">
                                    <div ng-if="user.avatar_url!==undefined" ng-model="user.avatar_url" dropzone="dropzoneConfig" mode="single" class="dropzone dz-clickable dz-single"></div>
                                    <!--<div ng-if="deleteMessage" class="red">File removed successfully!</div>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate>
                                    {{"user.list.name" | translate}}
                                </label>
                                <div class="col-sm-9">
                                    <input ng-model="user.name" type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" >
                                    {{"user.list.gender" | translate}}
                                </label>
                                <div class="col-sm-9">
                                    <div class="radio radio-info radio-inline">
                                        <input ng-model="user.gender" type="radio" id="Male" value="0" name="gender">
                                        <label for="Male" translate>
                                            .male
                                        </label>
                                    </div>
                                    <div class="radio radio-info radio-inline">
                                        <input ng-model="user.gender" type="radio" id="Female" value="1" name="gender" >
                                        <label for="Female" translate>
                                            .female
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" >
                                    {{"user.list.location" | translate}}
                                </label>
                                <div class="col-sm-9">
                                    <input ng-model="user.site" type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate>
                                    .title
                                </label>
                                <div class="col-sm-9">
                                    <input ng-model="user.title" type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    {{"user.list.email" | translate}}
                                </label>
                                <div class="col-sm-9">
                                    <input ng-model="user.email" type="email" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate>
                                    .password
                                </label>
                                <div class="col-sm-9">
                                    <input ng-model="user.password" type="password" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate>
                                    .role
                                </label>
                                <div class="col-sm-9">
                                    <select ng-model="user.role_id" name="role" ng-options='role.id as role.name for role in roles' class="form-control"></select>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" >
                                </label>
                                <div class="col-sm-9">
                                    <button class="btn btn-success" ng-click="create(user)" ng-if="!user.id" ng-class="{'working':isDisabled===true}"><i class="fa fa-save"></i> {{"app.shared.common.save" | translate }}</button>
                                    <button class="btn btn-info" ng-click="update(user)" ng-if="user.id" ng-class="{'working':isDisabled===true}"> {{"app.shared.common.update" | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- main content -->